{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
  <h2>Notes</h2>
  <ul class="list-group">
    <li class="list-group-item">Changed</li>
          <ul>
            <h5></h5>
            <h5></h5>
            <h5></h5>
            <h5></h5>
            <h5></h5>
          </ul>
    <li class="list-group-item">Not started</li>
          <ul>

            <h5>System ocen</h5>
          </ul>
    <li class="list-group-item">Not finished</li>
            <h5>Federacja dodajac walke musi przypisac fightera przynajmniej jednego fightera</h5>
            <h5>Do walki automatycznie przypisywany jest fighter TBA i tworzone jest polaczenie FIGHTER_FIGHTS</h5>
            <h5>Panel z aktualnymi walkami i mozliwosci ich edycji (dlugosc pojedynku),zawonik, miejsce, godzine itp itd</h5>
            <h5></h5>
            <h5></h5>
            <h5></h5>
            <h5></h5>
  </ul>
</div>

</body>
{% endblock %}