{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container">
    <h2>Notes</h2>
    <ul class="list-group">
        <li class="list-group-item">Changed</li>
        <ul>
            <h5>[JOB]Show whole events which manager specified</h5>
        </ul>
    </ul>
</div>
</body>
{% endblock %}