{% extends "dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container">
    <form class="form-inline">
        <div class="form-group">
    <form method="post" action="/ShowEvents">
        {{message}}
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.CONTINENT) }}
        {{ wtf.form_field(form.COUNTRY) }}
        {{ wtf.form_field(form.CITY) }}
        {{ wtf.form_field(form.EVENT_STATUS) }}
<br>
         <button class="btn btn-success btn-xsy" type="submit">Search</button>
    </form>
        </div>
    </form>
</div>
<br>

<div class="container">
    <h5>Event schedule</h5>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID_Fighter</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Nickname</th>
                <th>Zip-code</th>
                <th>Number of fights</th>
                <th>Street</th>
                <th>Street number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Need fighter status</th>
                <th>Event status</th>>
                <th></th>
            </tr>
        </thead>
            <tbody>
            {% for i in data %}

            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
            <td>{{i[4]}}</td>
            <td>{{i[5]}}</td>
            <td>{{i[6]}}</td>
            <td>{{i[7]}}</td>
            <td>{{i[8]}}</td>
            <td>{{i[9]}}</td>
            <td>{{i[10]}}</td>
            <td>{{i[11]}}</td>
            </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}
